{% extends 'base.html.twig' %}

{% block title %}Création d'Utilisateur{% endblock %}

{% block body %}

    {% include "navbar.html.twig" %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <main>
        <div class="container">
            <div class="row">
                <a href="/user" class="btn btn-primary" style="background-color: red">Retour</a>
                <h1 class="h3 mb-3 font-weight-normal text-center">Créer un utilisateur</h1>
                <div class="card">
                    {{ form_start(registrationForm) }}
                        <label>Role</label>
                        <select name="roles" class="form-control">
                            <option value="formateur">Formateur</option>
                            <option value="responsable">Responsable de section</option>
                            <option value="assistant">Assistant</option>
                            {% if (app.user.roles == ["ROLE_SUPER_ADMIN"] ) %}
                                <option value="admin">Admin</option>
                                <option value="super">Super Admin</option>
                            {% endif %}
                            
                        </select>
                        {{ form_row(registrationForm.username, {
                            label: 'Nom'
                        }) }}
                        {{ form_row(registrationForm.email, {
                            label: 'Email'
                        }) }}
                        {{ form_row(registrationForm.plainPassword) }}
                        {{ form_row(registrationForm.agreeTerms, {
                            label: 'Valider la création'
                        }) }}

                        <button type="submit" class="btn btn-primary" onclick="return confirm('Souhaitez-vous vraiment créer cet utilisateur ?')">Créer</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </main>
    {% include "footer.html.twig" %}
{% endblock %}
