{% extends 'base.html.twig' %}

{% block title %}Questionnaire d'inscription{% endblock %}

{% block body %}
    {% include "navbar.html.twig" %}
    <main>
        <form method="POST">
            <div class="container">

                <h1 class="h3 mb-3 font-weight-normal text-center">Questionnaire</h1>
                <div class="row">
                    <div class="card">
                        <br>
                        <h1 class="h3 mb-3 font-weight-normal text-center">1 - Informations générales</h1>
                        
                        <label for="l-learn">Langue(s) étudiée(s)</label>
                        <input required type="text" name="l-learn" id="l-learn" maxlength="50" class="form-control" placeholder="Saisissez les langues que vous avez étudiées"></input>
                        
                        <label for="name">Nom</label>
                        <input required type="text" name="name" id="name" maxlength="50" class="form-control" placeholder="Saisissez votre Nom de famille"></input>  
                        
                        <label for="surname">Prénom</label>
                        <input required type="text" name="surname" id="surname" maxlength="50" class="form-control" placeholder="Saisissez votre prénom"></input>
                        
                        <label for="job">Êtes-vous demandeur d'emploi ?</label>
                        <select required name="job" id="job" class="form-control">
                            <option value="1">Oui</option>
                            <option value="0">Non</option>
                        </select>
                        
                        <div name="business-div" id="business-div" class="business-div">
                            <label for="business">Entreprise</label>
                            <input type="text" name="business" id="business" maxlength="50" class="form-control" placeholder="Saisissez le nom de l'Entreprise où vous êtes"></input>
                        </div>

                        <label for="phone">Numéro de téléphone</label>
                        <input required type="tel" name="phone" id="phone" maxlength="10" class="form-control" placeholder="Saisissez votre numéro de téléphone"></input>
                        
                        <label for="email">Adresse E-Mail</label>
                        <input required type="email" name="email" id="email" maxlength="150" class="form-control" placeholder="Saisissez votre adresse E-Mail"></input>
                        
                        <div name="service-div" id="service-div" class="service-div">
                            <label for="service">Service</label>
                            <input type="text" name="service" id="service" maxlength="150" class="form-control" placeholder="Saisissez votre service"></input>
                        </div>

                        <label for="train-company">Souhaitez-vous être formé au sein de votre entreprise ?</label>
                        <select required name="train-company" id="train-company" class="form-control">
                            <option value="1">Oui</option>
                            <option value="0">Non</option>
                        </select>

                        <div name="postal-div" id="postal-div" class="postal-div">
                            <label for="postal">Code postal de l'entreprise</label>
                            <input type="int" name="postal" id="postal" class="form-control" placeholder="Saisissez le code postal de votre entreprise"></input>
                        </div>

                        <div name="training-site-div" id="training-site-div" class="training-site-div">
                            <label for="training-site">Site(s) de formation souhaité(s)</label>
                            <select name="training-site" id="training-site" class="form-control" multiple size="7">
                                <option value="Amiens">Amiens</option>
                                <option value="Beauvais">Beauvais</option>
                                <option value="Compiègne">Compiègne</option>
                                <option value="Friville">Friville</option>
                                <option value="Saint-Quentin">Saint-Quentin</option>
                                <option value="Senlis">Senlis</option>
                                <option value="Soissons">Soissons</option>
                            </select>
                        </div>

                        <label for="cpf">Souhaitez-vous utiliser votre CPF ? (Compte personnel de formation)</label>
                        <select required name="cpf" id="cpf" class="form-control">
                            <option value="1">Oui</option>
                            <option value="0">Non</option>
                        </select>
                        
                        <div name="cpf-count-div" id="cpf-count-div" class="cpf-count-div">
                            <label for="cpf-count">Connaisez-vous votre compteur CPF ?</label>
                            <select name="cpf-count" id="cpf-count" class="form-control">
                                <option value="1">Oui</option>
                                <option value="0">Non</option>
                            </select>
                        </div>

                        <div name="cpf-euros-div" id="cpf-euros-div" class="cpf-euros-div">
                            <label for="cpf-euros">Combien d'euros possédez-vous ?</label>
                            <input type="int" name="cpf-euros" id="cpf-euros" class="form-control" placeholder="Saisissez le montant en euros"></input>
                        </div>

                        <div name="cpf-help-div" id="cpf-help-div" class="cpf-help-div">
                            <label for="cpf-help">Souhaitez-vous être accompagné pour l'utilisation de votre CPF ?</label>
                            <select name="cpf-help" id="cpf-help" class="form-control">
                                <option value="1">Oui</option>
                                <option value="0">Non</option>
                            </select>
                        </div>

                        <label for="role">Décrivez votre fonction en quelques mots</label>
                        <input required type="text" name="role" id="role" class="form-control" placeholder="Saisissez la fonction que vous possédez"></input>

                        <label for="l-use">Décrivez dans quel contexte général vous utilisez la langue à étudier</label>
                        <input required type="text" name="l-use" id="l-use" class="form-control" placeholder="Saisissez les situations dans lesquelles vous utilisez la langue que vous voulez étudier"></input>

                        <label for="mother-tongue">Quel sont la/les langue(s) maternelle de vos interlocuteurs ?</label>
                        <select required name="mother-tongue" id="mother-tongue" class="form-control" multiple size="5">
                            <option value="Anglaise">Anglaise</option>
                            <option value="Américaine">Américaine</option>
                            <option value="Allemande">Allemande</option>
                            <option value="Espagnole">Espagnole</option>
                            <option value="Autre">Autre</option>
                        </select>

                        <div name="tongue-define-div" id="tongue-define-div" class="tongue-define-div">
                            <label for="tongue-define">Précisez :</label>
                            <input type="text" name="tongue-define" id="tongue-define" maxlength="50" class="form-control" placeholder="Précisez les autres langues maternelle"></input>
                        </div>
                        <br>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="card">
                        <br>
                        <h1 class="h3 mb-3 font-weight-normal text-center">2 - Compétences</h1>
                        <div class="card">
                            <br>
                            <h1 class="h4 mb-3 font-weight-normal text-center">A - Compréhension et expression orale</h1>

                            {% for i in range(1,12) %}
                                {% if i == 1 %}
                                    {% set titre = "Acceuil des visiteurs" %}
                                {% elseif i == 2 %}
                                    {% set titre = "Renseignements téléphoniques courants" %}
                                {% elseif i == 3 %}
                                    {% set titre = "Conversations téléphoniques" %}
                                {% elseif i == 4 %}
                                    {% set titre = "Audioconférences / Visioconférences" %}
                                {% elseif i == 5 %}
                                    {% set titre = "Participation à des réunions de travail en interne" %}
                                {% elseif i == 6 %}
                                    {% set titre = "Conduite de réunions de travail en interne" %}
                                {% elseif i == 7 %}
                                    {% set titre = "Réunions de travail avec des clients et/ou des fournisseurs" %}
                                {% elseif i == 8 %}
                                    {% set titre = "Présentations générales" %}
                                {% elseif i == 9 %}
                                    {% set titre = "Négociations clients/fournisseurs" %}
                                {% elseif i == 10 %}
                                    {% set titre = "Actions de formation" %}
                                {% elseif i == 11 %}
                                    {% set titre = "Déplacements professionnels" %}
                                {% elseif i == 12 %}
                                    {% set titre = "Contacts dans un contexte social" %}
                                {% endif %}
                            <label for="A{{i}}">{{titre}}</label>
                            <select name="A{{i}}" id="A{{i}}" class="form-control">
                                <option value="Pas important">Pas important</option>
                                <option value="Important">Important</option>
                                <option value="Très Important">Très Important</option>
                            </select>
                            <div name="A{{i}}-checkbox-div" id="A{{i}}-checkbox-div" class="A{{i}}-checkbox-div form-check">
                                <label class="form-check-label" for="A{{i}}-checkbox">Prioritaire</label>
                                <input class="A{{i}}-checkbox form-check-input" type="checkbox" value="prioritaire" id="A{{i}}-checkbox" name="A{{i}}-checkbox">
                            </div> <br>
                            {% endfor %}

                        </div>
                        <br>
                        <div class="card">
                            <br>
                            <h1 class="h4 mb-3 font-weight-normal text-center">B - Compréhension et expression écrite</h1>

                                {% for i in range(1,5) %}
                                {% if i == 1 %}
                                    {% set titre = "E-mails" %}
                                {% elseif i == 2 %}
                                    {% set titre = "Courriers spécifiques" %}
                                {% elseif i == 3 %}
                                    {% set titre = "Comptes-rendus internes" %}
                                {% elseif i == 4 %}
                                    {% set titre = "Comptes-rendus à usage externe" %}
                                {% elseif i == 5 %}
                                    {% set titre = "Documents spécialisés (Contrats, documents techniques...)" %}
                                {% endif %}
                            <label for="B{{i}}">{{titre}}</label>
                            <select name="B{{i}}" id="B{{i}}" class="form-control">
                                <option value="Pas important">Pas important</option>
                                <option value="Important">Important</option>
                                <option value="Très Important">Très Important</option>
                            </select>
                            <div name="B{{i}}-checkbox-div" id="B{{i}}-checkbox-div" class="B{{i}}-checkbox-div form-check">
                                <label class="form-check-label" for="B{{i}}-checkbox">Prioritaire</label>
                                <input class="B{{i}}-checkbox form-check-input" type="checkbox" value="prioritaire" id="B{{i}}-checkbox" name="B{{i}}-checkbox">
                            </div> <br>
                            {% endfor %}

                        </div>
                        <br>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="card">
                        <br>
                        <h1 class="h3 mb-3 font-weight-normal text-center">3 - Vocabulaire professionnel</h1>
                            
                        <label for="domains">Parmi les domaines cités ci-dessous, lesquels vous concernent ?</label>
                        <select required name="domains" id="domains" class="form-control" multiple size="15">
                            <option value="Management">Management</option>
                            <option value="Vente / Marketing">Vente / Marketing</option>
                            <option value="Logistique Transport">Logistique Transport</option>
                            <option value="Qualité">Qualité</option>
                            <option value="Voyages">Voyages</option>
                            <option value="Finances">Finances</option>
                            <option value="Production">Production</option>
                            <option value="Achats">Achats</option>
                            <option value="Commerce">Commerce</option>
                            <option value="Contexte économique">Contexte économique</option>
                            <option value="Ressources humaines">Ressources humaines</option>
                            <option value="Comptabilité">Comptabilité</option>
                            <option value="Technique Industrialisation">Technique Industrialisation</option>
                            <option value="Recherche et développement">Recherche et développement</option>
                            <option value="Autre">Autre</option>
                        </select>

                        <div name="domains-define-div" id="domains-define-div" class="domains-define-div">
                            <label for="domains-define">Précisez :</label>
                            <input type="text" name="domains-define" id="domains-define" maxlength="100" class="domains-define form-control" placeholder="Précisez les autres domaines vous concernant"></input>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="text-center">
                    <br>
                    <button type="submit" class="btn btn-primary" onclick="return confirm('Souhaitez-vous vraiment envoyer votre inscription ?')">Envoyer</button>
                </div>
            </div>
        </form>
    </main>

    <script type="text/javascript" src="{{ asset('js/inscription.js') }}"></script>

    {% include "footer.html.twig" %}
{% endblock %}

