{% extends 'base.html.twig' %}

{% block body %}
    {% include "tag.html.twig" %}
    <footer class="text-center text-white">
        <div id="footer">
            <!-- Grid container -->
            <div id="footer1">
                <!-- Section: Social media -->
                <section id="section-media">
                    <!-- Promeo -->
                    <a href="https://www.promeo-formation.fr/" role="button" target="_blank"
                        ><img id="logoPROMEOwhite" src="{{ asset('img/logoPROMEOwhite.svg') }}" alt=""
                    ></a>
                    <p class="social-text"
                        >Rejoignez la communauté
                    </p>
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/PromeoFormation/" role="button" target="_blank"
                        ><i class="fa fa-facebook-f"></i
                    ></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/promeoformation?lang=fr" role="button" target="_blank"
                        ><i class="fa fa-twitter"></i
                    ></a>

                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/school/promeo-formation/" role="button" target="_blank"
                        ><i class="fa fa-linkedin"></i
                    ></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/promeo_formation/" role="button" target="_blank"
                        ><i class="fa fa-instagram"></i
                    ></a>

                    <!-- Youtube -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UCvALk48KxuXzKTI2NSnKn2g" role="button" target="_blank"
                        ><i class="fa fa-youtube"></i
                    ></a>
                </section>
                <!-- Section: Social media -->
            </div>

            <div id="footer2-3">
                <div id="footer2">
                    <!-- Section: Links -->
                    <section id="section-media">
                        <a class="links" href="https://www.promeo-formation.fr/nos-brochures" role="button" target="_blank"
                            >Brochures
                        </a>|
                        <a class="links" href="https://www.promeo-formation.fr/mentions-legales" role="button" target="_blank"
                            >Mentions légales
                        </a>|
                        <a class="links" href="https://www.promeo-formation.fr/politique-de-confidentialite" role="button" target="_blank"
                            >Politique confidentialité
                        </a>|
                        <a class="links" href="http://www.promeo-formation.fr/conditions-generales-de-vente" role="button" target="_blank"
                            >CGV
                        </a>

                        <a class="links" href="https://www.promeo-formation.fr/a-propos/nos-engagements" role="button" target="_blank"
                            ><img class="links" id="logoFAQQSE" src="{{ asset('img/logoFAQQSE.png') }}" alt="">
                        </a>
                        <a class="links" href="https://www.promeo-formation.fr/promeo-reference-sur-datadock" role="button" target="_blank"
                            ><img class="links" id="logoDATADOCK" src="{{ asset('img/logoDATADOCK.png') }}" alt="">
                        </a>

                    </section>
                    <!-- Section: Links -->
                </div>

                <div id="footer3">
                    <!-- Section: Logo -->
                    <section id="section-logo">
                        <!-- Uimm -->
                        <a href="https://uimm.lafabriquedelavenir.fr/" role="button" target="_blank"
                            ><img class="logo" id="logoUIMM" src="{{ asset('img/logoUIMM.png') }}" alt=""
                        ></a>
                        <!-- Mef -->
                        <a href="https://www.medef.com/fr/" role="button" target="_blank"
                            ><img class="logo" id="logoMEF" src="{{ asset('img/logoMEF.png') }}" alt=""
                        ></a>
                        <!-- Hdf -->
                        <a href="https://www.hautsdefrance.fr/" role="button" target="_blank"
                            ><img class="logo" id="logoHDF" src="{{ asset('img/logoHDF.png') }}" alt=""
                        ></a>
                        <!-- Fse -->
                        <a href="https://europa.eu/european-union/index_fr" role="button" target="_blank"
                            ><img class="logo" id="logoFSE" src="{{ asset('img/logoFSE.png') }}" alt=""
                        ></a>
                    </section>
                    <!-- Section: Logo -->
                </div>
            </div>
            <!-- Grid container -->
        </div>
    </footer>
    <!-- Footer -->
{% endblock %}