{% extends 'base.html.twig' %}

{% block title %}Tous les articles{% endblock %}

{% block body %}

    {% include "navbar.html.twig" %}
    <main>
        <div class="container">
            <div class="row">
                {% for article in articles %}
                <div class="col-md-3">
                    <div class="card">
                        <img src={{article.image|default("https://via.placeholder.com/150")}} class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{article.titre}}</h5>
                            {{article.auteur.username}}
                            <div class="text-muted">
                                {{article.date | date("d/m/Y")}}
                                {% if article.datemodif != null %}
                                    <br><i>Modifié le : {{article.datemodif | date("d/m/Y")}}</i>
                                {% endif %}
                            </div>
                            <a href="/article/show/{{article.id}}" class="btn btn-primary">Voir</a>
                        </div>
                    </div> 
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    {% include "footer.html.twig" %}
{% endblock %}
