{% extends 'base.html.twig' %}

{% block title %}Profile de {{ app.user.username }}
{% endblock %}

{% block body %}

    {% include "navbar.html.twig" %}    

    <main>
        <div class="container">
            <div class="row">
                <h1 class="h3 mb-3 font-weight-normal text-center">Informations de compte</h1>
                <div class="card text-center">
                    <b>{{ app.user.username }}</b>
                    <div class="card text-center">
                        <u>Rôle :</u>                     
                        {% if (app.user.roles == ["ROLE_FORMATEUR"]) %}
                            Formateur
                        {% elseif (app.user.roles == ["ROLE_RESPONSABLE"]) %}
                            Responsable de formation
                        {% elseif (app.user.roles == ["ROLE_ASSISTANT"]) %}
                            Assistant
                        {% elseif (app.user.roles == ["ROLE_ADMIN"]) %}
                            Admin
                        {% elseif (app.user.roles == ["ROLE_SUPER_ADMIN"]) %}
                            Super Admin
                        {% endif %}
                    </div>
                    <div class="card text-center">
                        <u>Email :</u> {{ app.user.email }}
                    </div>
                    <div class="card text-center">
                        <u>Description :</u> {{ app.user.description | raw }}
                    </div>
                    <div class="card text-center">
                        <u>Date de création :</u> {{ app.user.datecreation | date("d/m/Y") }}
                    </div>
                    {% if app.user.datemodif != null %}
                    <div class="card text-center">
                        <u>Dernière modification :</u>
                            {{ app.user.datemodif | date("d/m/Y") }}
                    </div>
                    {% endif %}
                    <br>
                    <a href="/user/edit/{{app.user.id}}" class="btn btn-primary" style="background-color: orange">Modifier mes Informations</a>
                    <br>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <h1 class="h3 mb-3 font-weight-normal text-center">Mes articles</h1>
                <a href="/user/article/create" class="btn btn-primary" style="background-color: green">Créer un nouvel article</a>
                {% for article in user.articles %}
                    <div class="col-md-3">
                        <div class="card">
                            <img src={{article.image|default("https://via.placeholder.com/150")}} class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{article.titre}}</h5>
                                <div class="text-muted">
                                    {{article.date | date("d/m/Y")}}
                                    {% if article.datemodif != null %}
                                        <br><i>Modifié le : {{article.datemodif | date("d/m/Y")}}</i>
                                    {% endif %}
                                </div>
                                <a href="/article/show/{{article.id}}" class="btn btn-primary">Voir</a>
                                <a href="/user/article/edit/{{article.id}}" class="btn btn-primary" style="background-color: orange">Modifier</a>
                                <a href="/user/article/delete/{{article.id}}" onclick="return confirm('Voulez-vous vraiment supprimer cet article ?')" class="btn btn-primary" style="background-color: red">Supprimer</a>
                            </div>
                        </div> 
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="container">
            <div class="row">
                <h1 class="h3 mb-3 font-weight-normal text-center">Mes questionnaires</h1>
                <a href="/user/questionnaire/create" class="btn btn-primary" style="background-color: green">Créer un nouveau questionnaire</a>
                {% for questionnaire in user.questionnaires %}
                    <div class="col-md-3">
                        <div class="card text-center">
                            <div class="card">
                                <h5 class="card-title">{{ questionnaire.langue }}</h5>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ questionnaire.niveau }}</h5>
                                <div class="text-muted">
                                    {{questionnaire.date | date("d/m/Y")}}
                                </div>
                                <a href="/user/questionnaire/show/{{questionnaire.id}}" class="btn btn-primary">Voir</a>
                                <a href="/user/questionnaire/delete/{{questionnaire.id}}" onclick="return confirm('Voulez-vous vraiment supprimer ce questionnaire ?')" class="btn btn-primary" style="background-color: red">Supprimer</a>
                            </div>
                        </div> 
                    </div>
                {% endfor %}
            </div>
        </div>

    </main>
    {% include "footer.html.twig" %}
{% endblock %}
