{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }}'s profile
{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TheBlog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    (Connected as {{ app.user.username|default('Anonymous')}})
                </span>
                <span class="navbar-text">
                    <a class="nav-link" href="/logout">Disconnect </a>
                </span>
            </div>
        </div>
    </nav>

    <div class="container" style="padding-top: 2%">
        <div class="row">
            <h1 class="h3 mb-3 font-weight-normal text-center">Account Informations</h1>
                <div class="card text-center">
                    <u>User :</u> {{ app.user.username }}
                </div>
                <div class="card text-center">
                    <u>Email :</u> {{ app.user.email }}
                </div>
                <div class="card text-center">
                    <u>Creation date :</u> {{ app.user.datecreation | date("d/m/Y") }}
                </div>
                <div class="card text-center">
                    <u>Last modification :</u> {{ app.user.datemodif | date("d/m/Y") }}
                </div>
                <div class="card text-center">
                    <u>Biography :</u> {{ app.user.description }}
                </div>
        </div>
    </div>

    <div class="container" style="padding-top: 2%">
        <div class="row">
            <h1 class="h3 mb-3 font-weight-normal text-center">Your posts</h1>
            <a href="/articles" class="btn btn-primary" style="background-color: green">Create new post</a>
            {% for article in user.articles %}
                <div class="col-md-3" style="padding-top: 3%">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{article.titre}}</h5>
                            <div class="text-muted">
                                {{article.date | date("d/m/Y")}}
                            </div>
                            <a href="/articles/{{article.id}}" class="btn btn-primary">View</a>
                            <a href="/profile/{{article.id}}" onclick="return confirm('Do you really want to delete this article ?')" class="btn btn-primary" style="background-color: red">Delete</a>
                        </div>
                    </div> 
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
