{% extends "base.html.twig" %}

{% block title %}Questionnaire{% endblock %}

{% block body %}

        {% include "navbar.html.twig" %}
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="h3 mb-3 font-weight-normal text-center">Questionnaire {{ questionnaire.langue }} de niveau {{ questionnaire.niveau }}</h1>
                    <div class="card text-center">
                        {% for question in questionnaire.questions %}
                        <div class="card">
                            <h1 class="h3 mb-3 font-weight-normal text-center">Question N°{{ question.numero }}</h1>
                            <p><b>{{ question.question }}</b></p>
                            <div class="card">
                                Réponse 1 : {{ question.q1 }}
                            </div>
                            <div class="card">
                                Réponse 2 : {{ question.q2 }}
                            </div>
                            <div class="card">
                                Réponse 3 : {{ question.q3 }}
                            </div>
                            <div class="card">
                                Réponse 4 : {{ question.q4 }}
                            </div>
                            <div class="card-footer">
                                <p>
                                    La bonne réponse est la réponse : 
                                    <br>
                                    <b>{{ question.reponse }}</b>
                                </p>
                            </div>
                            <a href="/user/question/edit/{{question.id}}" class="btn btn-primary" style="background-color: orange">Modifier</a>
                            <br>
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                    <div class="card-footer text-center">
                        Créé par {{ questionnaire.auteur.username }}
                        Le {{ questionnaire.date | date("d/m/Y") }}
                    </div>
                    <a href="/user/questionnaire/delete/{{questionnaire.id}}" onclick="return confirm('Voulez-vous vraiment supprimer ce questionnaire ?')" class="btn btn-primary" style="background-color: red">Supprimer</a>
                </div>
            </div>
        </main>
        
        {% include "footer.html.twig" %}
{% endblock %}
