{% extends "base.html.twig" %}

{% block title %}Création de Questionnaire{% endblock %}

{% block body %}

        {% include "navbar.html.twig" %}
        <main>
                <div class="container">
                        <div class="row">
                                <h1 class="h3 mb-3 font-weight-normal text-center">Création du questionnaire</h1>
                                <div class="card text-center">
                                    <form method="POST">
                                        <h1 class="h3 mb-3 font-weight-normal text-center">Informations générales</h1>
                                        <div class="card" name="questionnaire">
                                        <br>
                                            <label for="tongue">Dans quelle langue souhaitez-vous réaliser le questionnaire ?</label>
                                            <select required name="tongue" id="tongue" class="form-control">
                                                <option value="Anglaise">Anglais</option>
                                                <option value="Allemande">Allemand</option>
                                                <option value="Espagnole">Espagnol</option>
                                            </select>

                                            <label for="level">Quelle sera la difficulté du questionnaire ?</label>
                                            <select required name="level" id="level" class="form-control">
                                                <option value="A1">A1</option>
                                                <option value="A2">A2</option>
                                                <option value="B1">B1</option>
                                                <option value="B2">B2</option>
                                                <option value="C1">C1</option>
                                                <option value="C2">C2</option>
                                            </select>
                                        <br>
                                        </div>

                                        <h1 class="h3 mb-3 font-weight-normal text-center">Questions</h1>
                                        <div class="card" name="questions">

                                            {% for i in range (1,10) %}
                                            <br>
                                            <div class="form{{i}} card-text">
                                                <b><label for="question{{i}}">Question {{i}}</label></b>
                                                <input required class="form-control" type="text" placeholder="Saisissez la question que vous souhaitez poser" id="question{{i}}" name="question{{i}}"></input>

                                                {% for j in range (1,4) %}
                                                <label for="{{i}}q{{j}}">Réponse {{j}}</label>
                                                <input required class="form-control" type="text" placeholder="Saisissez la réponse que vous souhaitez poser" id="{{i}}q{{j}}" name="{{i}}q{{j}}"></input>
                                                {% endfor %}

                                                <label for="reponse">Quelle sera la bonne réponse de la question {{i}} ?</label>
                                                <select required name="reponse" id="reponse" class="form-control">
                                                    <option value="q1">1</option>
                                                    <option value="q2">2</option>
                                                    <option value="q3">3</option>
                                                    <option value="q4">4</option>
                                                </select>                                                
                                            </div>
                                            <br>
                                            {% endfor %}

                                        </div>
                                        <br>
                                        <button type="submit" class="btn btn-primary" onclick="return confirm('Souhaitez-vous vraiment créer ce questionnaire ?')">Créer</button>
                                    </form>
                                    <br>
                                </div>
                        </div>
                </div>
        </main>
        
        {% include "footer.html.twig" %}
{% endblock %}